<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
  <meta charset="UTF-8">
  <title>AngularToDo リスト</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script src="todo.js"></script>
  <style>
    .done-true {
      color:gray;
      text-decoration: line-through;
    }
  </style>
</head>
<body>
<h1>ToDo リスト</h1>
<div ng-controller="mainCtrl">
  <p>Finished Task: {{getDoneCount()}} / {{tasks.length}}</p>
  <button ng-click="deleteDone()">Delete Finished!</button>
  <ul>
    <li ng-repeat="task in tasks">
      <input id="" type="checkbox" name="" ng-model="task.done">
      <span class="done-{{task.done}}">
        {{task.body}}
      </span>
      <a href="" ng-click="taskDelete($index)">[x]</a>
    </li>
  </ul>
  <form action="" ng-submit="addNew()">
   <input id="" type="text" name="" ng-model="newTaskBody">
   <input type="submit" value="add">
  </form>
</div>
</body>
</html>
